.LearnCssAnimation {
    transform-origin: 100% 50%;
    transform: rotate(45deg);
    animation: ImgRotate3dAnimation;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes ImgRotate3dAnimation {
    50% {
        transform: rotate3d(2, 0, 1, 180deg);
    }
    100% {
        transform: rotate3d(2, 0, 1, 360deg);
    }
}